<h3>Add user</h3>

{% if user %}

<p><strong>{{user.name}}</strong> successfully created! Add another below.</p>
<p><a href="/">Back to user List</a></p>

{% endif %}


<!-- The form action and method correspond to a Flask route -->
<form action="/add" method="POST">

    <label for="name">name</label>
    <input type="text" id="name"/>

    <label for="email">email</label>
    <input type="text" id="email"/>

    <label for="password">password</label>
    <input type="text" id="password"/>

<!-- We need a submit button to submit a form! -->
<input type="submit" value="Add"/>

</form>
